.Title {
  position: relative;
  width: fit-content;
}
.Title::before {
  content: " ";
  position: absolute;
  bottom: -13px;
  right: -10px;
  background-image: url(../images/title.png);
  width: 110px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px;
  z-index: -1;
}
